*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: Arial,Helvetica,sans-serif;
}
li{
    list-style:none ;
    margin-top: 5px;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    padding:0 20px;
    height: 70px;
    margin-top: 50px;
    align-items: center;
}
.logo{
    width: 100px;
    height: auto;
    padding:0 0 50px;
}
.menu{
    flex: 3;
    display: flex;
    padding: 0 0 70px;
}
.menu > li {
    padding:0 25px;
    position: relative;
}
.menu >li:hover .submenu {
    visibility: visible;
    top: 45px;
}
.submenu {
    position: absolute;
    width: 150px;
    border: 1px solid#ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.5s;
    z-index: 1;
    background: #fff;
}
.submenu {
    font-weight: normal;
}
.menu >li> a {
    font-size: 16px;
    font-weight: bold;
    display: block;
    line-height: 15px;
}
.other {
    margin-top: -50px;
    display: flex;
}
.other li {
    padding: 5px 15px 20px;
}
#Slider{
    border-bottom: 2px solid #eeeaea;
    overflow: hidden;
    height: 500px;
 }
#Slider img{
    height: 500px;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;

}
.aspect-ratio-169{
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
}
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.dot{
    height: 12px;
    width: 12px;
    background-color: #ccc ;
    border-radius: 50%;
    margin-right: 12px;
    cursor:pointer ;
}
.dot.active{
    background: #333;
}
/*.........product...............*/
#wrapper{
    max-width: 1170px;
    margin: 0 auto;
}
.headline{
    text-align: center;
    margin: 20px 20px;
}
h3{
    font-size: 18px;
    color: #111 ;
    padding: 10px 50px ;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    font-weight: 600;
}
ul.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.products li{
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
ul.products li img{
    max-width: 100%;
    height: auto;
}
ul.products li .product-top{
    position: relative;
    overflow: hidden;
}
ul.products li .product-top .product-thumb{
    display: block;
}
ul.products li .product-top .product-thumb img{
    display: block;
}
ul.products li .product-top a.buy-now{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #446084;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    bottom: -36px;
    width: 100%;
    transition: 0.25s ease-in-out ;
    opacity: 0.85;
}
ul.products li:hover a.buy-now {
    bottom: 0px;
}
ul.products li .product-info{
    padding: 10px 0px;
}
ul.products li .product-info a {
    display: block;
    text-decoration: none;
}
ul.products li .product-info a.product-cat{
    font-size: 11px;
    text-transform: uppercase;
    color: #9e9e9e;
    padding: 3px 0px;
}
ul.products li .product-info a.product-name{
    color: #334862;
    padding: 3px 0px;
}
ul.products li .product-info .product-prime{
    color: #111;
    padding: 2px 0px;
    font-weight: 600;
}


